*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    margin: 10px;
    padding: 10px;
    text-align: center;
}
body{
    font-family: 'Tilt Neon', sans-serif;
}
h1{
    padding: 20px;
    font-size: 40px;
}
p{
    padding: 10px;
    font-size: 20px;
}
main {
    background-color: #ece2e2;
    border-radius: 10px;
    border: 1px solid #8f8e8e;
    width: 60%;
    margin: 50px auto; /* Centraliza horizontalmente o main */
    padding: 20px;
    box-sizing: border-box;
}
h2{
    padding: 10px;
    font-size: 30px;

}
.container{
    display: flex;
    justify-content: center;
    padding: 5px 50px;
}
.form-grupo{
    font-size: 30px;
    margin: 10px 30px;
    padding: 10px 90px;
}
label{
    font-size: 20px;
    margin: auto;
    padding: auto;
}
input{
    padding: 5px 40px;
    font-size: 16px;
    border-radius: 5px;
}
button{
    margin: 30px;
    padding: 5px 40px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #f0f0f0;
    border: 1px solid #8f8e8e;
}
button:hover{
    background-color: #8f8e8e;
    color: #f0f0f0;
}
footer{
    background-color: #f0f0f0;
    font-size: 20px;
    color: rgb(117, 117, 117);
}